@use '../../style/variables' as v;

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    font-family: 'Poppins';
    width: 100%;

    margin: 0 !important;

    & > * {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    & > .nav__logo {
        gap: 1em;

        & img {
            width: v.$nav-logo-size;
        }

        & h1 {
            font-family: 'JetBrains Mono';
            font-weight: 400;
            font-size: 1.5em;
            letter-spacing: -0.07em;
        }
    }

    & .nav__items {
        gap: 4em;
        list-style-type: none;
    }
}

// Hide navbar
nav.login__nav {
    justify-content: center;
    align-items: center;
    scale: 1.3;
    margin: 2em 0 !important;
}

.nav__profile {

    background-color: #F3F3F3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div { 
        
        display: flex;
        flex-direction: row;
        padding: .4em;
        align-items: center;
        justify-content: flex-start;
        z-index: 3;

        & > img {
            width: 2em;
            border-radius: 13px;
        }
        
        & > h3 {
            font-weight: 400;
            margin: 0 1em;
            font-size: 1em;
            font-family: 'Poppins';
        }
    }

    &:hover > .nav__profile__dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F3F3F3;
        border-radius: 20px;
        position: absolute;
        padding-top: 3em;
        right: 50;
        list-style-type: none;
        z-index: 1;
        width: 8.1em;

        & > li {
            font-size: 1em;
            font-family: 'Poppins';
            font-weight: 400;
            color: #2E2E2E;
            margin: 0.6em 0;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }


    & > .nav__profile__dropdown {
        display: none;
    }


}