@use '../../style/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    font-family: 'Poppins';

    & > * {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    & > div.header__logo {
        gap: 1em;

        & > img {
            width: v.$header-logo-size;
        }

        & > h1 {
            font-family: 'JetBrains Mono';
            font-weight: 400;
            font-size: 1.5em;
            letter-spacing: -0.07em;
        }
    }

    & ul.header__nav {
        gap: 4em;
        list-style-type: none;
    }
}