@use 'variables' as *;

/*---------------------
   CSS Reset
---------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------
    Background
---------------------*/
html {
  background-image: url(../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255 ,0.5);
  background-blend-mode: lighten;
  min-height: 100vh;
  overflow: hidden;
}

/*---------------------
   Global Styles
---------------------*/
.btn__primary {
  background-color: $color-secondary;
  border-radius: 15px;
}

.btn__secondary {
  background-color: $color-primary;
  color: white;
  border-radius: 15px;
  padding: 0.5em 3em;
}